/* Author: Maxwell McLeod */
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 0px;
    box-sizing: border-box;
	padding-right: 50px;
}

input[type=submit] {
    width: 100%;
    background-color: #2C3D4E;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 0px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #243240;
}

#formbody {
    padding-right: 350px;
}

#flabel{
	font-family: 'Lato', Arial, sans-serif;
	color: #fff;
}

#txtarea{
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 0px;
    box-sizing: border-box;
	padding-right: 50px;
}

#flabelred{
	font-family: 'Lato', Arial, sans-serif;
	color: red;
}














