body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}
App {
  animation: spin infinite 50s linear;
}
@keyframes spin {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}
@keyframes Main-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
